/* Home.css */

/* Общие стили для всех кнопок */
.main-button,
.round-button {
    cursor: pointer;
    outline: none; /* Убираем обводку фокуса */
}

/* Стили для кнопок в состоянии активности */
.main-button:active,
.round-button:active {
    transform: scale(0.95);
}

/* Стили для контейнера домашней страницы */
.Home {
    position: relative;
    width: 100%;
    height: 100vh;
}

/* Фоновое изображение */
.bg-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('/public/bg.png');
    background-size: cover;
    background-position: center;
}

/* Контент на домашней странице */
.Home-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

/* Отображение баланса */
.balance-display {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

/* Иконка монеты */
.coin-icon {
    width: 100px;
}

/* Количество монет */
.balance-amount {
    font-size: 42px;
    color: #BCF8FA;
    display: flex;
    align-items: center;
    text-shadow:
      0 0 5px #BCF8FA,
      0 0 10px #BCF8FA,
      0 0 20px #395e5f,
      0 0 40px #0ff,
      0 0 80px #222,
      0 0 90px #222,
      0 0 100px #222,
      0 0 150px #222;
}

/* Стили для главной кнопки */
.main-button {
    background: transparent;
    border: none;
    transition: transform 0.2s ease;
    margin-bottom: 10px;
}

/* Стили для изображения в главной кнопке */
.main-button img {
    width: 300px;
}

/* Стили для навигационных кнопок */
.nav-btns {
    position: fixed;
    bottom: 55px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    z-index: 999;
}

/* Стили для круглой кнопки */
.round-button {
    width: 80px;
    height: 80px;
    border: 2px solid transparent;
    border-radius: 50%;
    background-color: transparent;
    transition: transform 0.2s ease, border-color 0.2s ease;
}

/* Стили для изображения в круглой кнопке */
.round-button img {
    width: 100%;
    border-radius: 50%;
}
