/* Home.css */
.main-button:active {
    transform: scale(0.95);
}
.round-button:active, .round-button:focus {
    outline: none;
    box-shadow: none;
}
.round-button:active {
    transform: scale(0.95);
}

.Home {
    position: relative;
    width: 100%;
    height: 100vh;
}

.bg-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('/public/bg.png');
    background-size: cover;
    background-position: center;
}

.Home-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.balance-display {
    display: flex;
    align-items: center;
    justify-content: center; /* Center horizontally */
    margin-bottom: 10px;
}

.coin-icon {
    width: 100px;
}

.balance-amount {
    font-size: 42px;
    color: #BCF8FA; /* Blue color */
    display: flex;
    align-items: center;
    text-shadow:
      0 0 5px #BCF8FA,
      0 0 10px #BCF8FA,
      0 0 20px #395e5f, /* Darker shade of blue */
      0 0 40px #0ff,
      0 0 80px #222, /* Darker shade of white */
      0 0 90px #222, /* Darker shade of white */
      0 0 100px #222, /* Darker shade of white */
      0 0 150px #222; /* Darker shade of white */
}


.main-button {
    background: transparent;
    border: none;
    cursor: pointer;
    transition: transform 0.2s ease;
    margin-bottom: 10px; /* Added margin for 10px space */
}

.main-button img {
    width: 300px;
}

.nav-btns {
    position: fixed;
    bottom: 55px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    z-index: 999;
}

.round-button {
    width: 80px;
    height: 80px;
    border: 2px solid transparent;
    border-radius: 50%;
    background-color: transparent;
    cursor: pointer;
    transition: transform 0.2s ease, border-color 0.2s ease;
}

.round-button img {
    width: 100%;
    border-radius: 50%;
}
