@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@400;700&display=swap');

body {
    font-family: 'Big Shoulders Display', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #000;
    color: #BCF8FA;
}

* {
    -webkit-tap-highlight-color: transparent;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.Boost {
    position: relative;
    width: 100%;
    height: calc(100vh - 22vh); /* Обмеження висоти на 14vh знизу */
    max-height: calc(100vh - 22vh); /* Переконатися, що не перевищує цього ліміту */
    display: grid;
    grid-auto-rows: 10% 6% 10% 5%;
    gap: 3%;
    text-align: center;
    overflow-y: auto; /* Дозволити скролінг при переповненні контенту */
}

/*.Boost::after {
    content: '';
    position: fixed;
    bottom: 18vh; 
    left: 0;
    width: 100%;
    height: 8vh; 
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
    pointer-events: none;
}

.Boost::before {
    content: '';
    position: fixed;
    bottom: 14vh; 
    left: 0;
    width: 100%;
    height: 4vh;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0));
    pointer-events: none; 
}   */

.daily-boosts {
    display: flex;
}

.boosts {
    display: grid;
    padding-top: -10vw !important;
}

.daily-boost-item {
    display: flex;
    align-items: center;
    border: 4px solid #BCF8FA;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 20px #0ff;
    padding-right: 10px;
    margin: 10px 5px 10px 5px;
    text-align: center;
    height: 60%;
    width: auto;
}

.boost-icon {
    width: 50px;
    height: auto;
    grid-row: 1 / span 2;
    grid-column: 1;
}

.daily-boost-h {
    padding-left: 10px;
}

.boosters-text{
    display: flex;
    font-size: 7vw;
    padding-left: 10px;
}
.dayli-boost-text {
    font-size: 6vw;
    padding-top: 20px;
    padding-bottom: 10px;
    margin: 10px;
    display: flex;
    align-items: center;
}

.boost-item {
    display: grid;
    width: 50%;
    align-items: center;
    grid-column: 1;
    grid-template-columns: auto auto     auto;
    grid-template-rows: 1fr auto;
    border: 4px solid #BCF8FA;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 20px #0ff;
    text-align: center;
    padding: 2px;
    margin: 5px;
}
.boost-item .boost-icon{
    width: 80%;
}
.boost-text {
    font-size: 3vw;
    grid-column: 2;
    grid-row: 1 / span 2;
}

.boost-price {
    align-items: center;
    text-align: center;
    display: flex;
    grid-column: 3;
    grid-row: 1;
}

.boost-level {
    grid-column: 3;
    grid-row: 2;
    align-items: center;
    text-align: center;
    font-size: 4vw;
}

.price-icon {
    width: 30px;
    height: auto;
}


    .daily-boost-h {
        font-size: 5vw;
    }
    .d-boost-text{
        font-size: 6vw; 
    }
    .dayli-boost-text {
        font-size: 7vw;
    }

    .boost-text {
        font-size: 4vw;
    }

    .boost-price {
        font-size: 5vw;
    }

    .boost-level {
        font-size: 4vw;
    }

    .boost-icon {
        width: 30%;
    }

    .price-icon {
        width: 30%;
    }