@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@400;700&display=swap');

body {
    font-family: 'Big Shoulders Display', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #000;
    color: #BCF8FA;
    overflow-x: hidden;
    overflow-y: hidden; /* Prevent vertical scrolling */
}
html, body {
    overflow-x: hidden !important; /* Prevent horizontal scrolling */
    overflow-y: hidden;
}
* {
    -webkit-tap-highlight-color: transparent;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.Boost {
    position: relative;
    width: 100%;
    height: calc(100vh - 22vh); /* Обмеження висоти на 14vh знизу */
    max-height: calc(100vh - 22vh); /* Переконатися, що не перевищує цього ліміту */
    display: grid;
    grid-auto-rows: 10% 6% 10% 5%;
    gap: 3%;
    text-align: center;
    overflow-y: hidden; /* Дозволити скролінг при переповненні контенту */
    overflow-x: hidden !important;
}

.Boost::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2); /* Adjust the opacity for the shadow effect */
    pointer-events: none; /* Ensure the overlay does not interfere with user interactions */
    z-index:1; /* Ensure the overlay is below the boost items but above the background */
}
.lightnings.f-tab{
    z-index: 0 !important;
    width: 120%;
    height: 100%;
    margin-left: -25%;
    left: -85%;
}

.Boost .lightning{
}

.lightning.right.f-tab {
    right: 40%;
    left: 110%;
}

.lightning.left.f-tab {
    left: 20%;
}

/*.Boost::after {
    content: '';
    position: fixed;
    bottom: 18vh;
    left: 0;
    width: 100%;
    height: 8vh;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
    pointer-events: none;
}

.Boost::before {
    content: '';
    position: fixed;
    bottom: 14vh;
    left: 0;
    width: 100%;
    height: 4vh;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0));
    pointer-events: none;
}   */

.daily-boosts {
    display: flex;
}

.boosts {
    display: flex;
    flex-wrap: wrap;

    padding-top: -10vw !important;
}

.daily-boost-item {
    display: flex;
    align-items: center;
    border: 4px solid #BCF8FA;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 20px #0ff;
    padding-right: 10px;
    margin: 10px 5px 10px 5px;
    text-align: center;
    height: 60%;
    width: auto;
    z-index: 2;
}

.boost-icon {
    grid-row: 1 / span 2;
    grid-column: 1;
}

.daily-boost-h {
    padding-left: 10px;
}

.boosters-text{
    display: flex;
    font-size: 7vw;
    padding-left: 10px;
    z-index: 2;
}
.dayli-boost-text {
    font-size: 5vw;
    padding-top: 20px;
    padding-bottom: 10px;
    margin: 10px;
    display: flex;
    align-items: center;
    z-index: 2;
}

.boost-item {
    display: grid;
    width: 100%;
    align-items: center;
    grid-column: 1;
    grid-template-columns: 20% 25% 30% 25%;
    grid-template-rows: 1fr auto;
    border: 4px solid #BCF8FA;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 20px #0ff;
    text-align: center;
    padding: 2px;
    margin: 5px;
    z-index: 2;
}
.boost-item .boost-icon{
    width: 100%;
    justify-items: center;
    margin-bottom: -10%;
    margin-top: -10%;
    margin-right: -10%;
}
.boost-text {
    font-size: 5vw;
    grid-column: 2;
    text-align: center;
    grid-row: 1 / span 2;
}
.Boost .header{
    z-index: 2;
}
.boost-price {
    align-items: center;
    text-align: center;
    display: flex;
    grid-column: 4;
    grid-row: 1;
}

.boost-level {
    grid-column: 3;
    grid-row: 1;
    margin-left: 5%;
    font-size: 5vw;
}
.daily-boost-item.inactive {
    background-color: black; /* Колір фону для неактивного стану */
    pointer-events: none;   /* Робить компонент неактивним */
    opacity: 0.5;           /* Напівпрозорість для неактивного стану */
}
.grey-text {
    color: white; /* Сірий колір для неактивного тексту */
}

.price-icon {
    width: 30px;
    height: auto;
    align-items: center;
}

.tap-bot-timer{
    font-size: 4vw;
}

    .daily-boost-h {
        font-size: 5vw;
    }
    .d-boost-text{
        font-size: 4.5vw;
        margin-right: 8%;
    }
    .dayli-boost-text {
        font-size: 7vw;
    }


    .boost-price {
        font-size: 5vw;
        text-align: center !important;
    }


    .boost-icon {
        width: 30%;
    }

    .price-icon {
        width: 30%;
    }

.tap-bot-timer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    font-size: 1.2em;
    color: #ffd700; /* золотий колір */
}

.tap-bot-timer span {
    margin: 5px 0;
}

.tap-animation {
    position: fixed;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2em;
    animation: tap-animation 0.5s ease-in-out;
}

@keyframes tap-animation {
    0% {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
    }
    100% {
        opacity: 0;
        transform: translate(-50%, -50%) scale(0.5);
    }
}

.boost-timer{
    font-size: 4.5vw;
    left: 10%;
    margin-right: -10%;
}
