.completion-message-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10000;
}

.completion-message-container {
    background: black;
    padding: 20px;
    border-radius: 10px;
    border: 4px solid #BCF8FA;
    text-align: center;
    box-shadow: 0 0 20px #0ff;
}

.completion-message-text {
    margin-bottom: 20px;
    font-size: 1.2em;
}

.completion-message-button {
    background: #007bff;
    color: gold;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
}

.completion-message-button:hover {
    background: #0056b3;
}
