.Navigation {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    bottom: 0;
    height: 100%;
    z-index: 1000;
    background: rgba(0, 0, 0, 0.5);
  }
  
  .nav-btns {
    position: fixed;
    bottom: 5vh;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-around;
    width: 90vw;
    z-index: 9;
  }
  
  .round-button {
    width: 15vw;
    height: 15vw;
    border: 2px solid transparent;
    border-radius: 50%;
    background-color: transparent;
    transition: transform 0.2s ease, border-color 0.2s ease;
    background-image: url('/public/btn-bg.png');
    background-size: cover;
    background-position: center;
  }
  
  .round-button:nth-child(3) {
    background-image: url('/public/bg-tap-btn.png');
  }
  
  @media (min-width: 320px) and (max-width: 767px) {
    .round-button {
      width: 18vw;
      height: 18vw;
    }
    .bg-image {
      background-size: 130% !important;
      height: 100%; 
    }
  }
  