@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@400;700&display=swap');

* {
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  font-family: 'Big Shoulders Display', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #000;
  color: #BCF8FA;
  }

  .statistics-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  
  .stat-item {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .stat-icon {
    width: 50px;
    height: 50px;
  }
  
  .stat-text {
    text-align: center;
    padding: 30px;
  }
  .shared-balance{
    display: flex;
    align-items: center;
    text-align: center;
  }
  .stat-title {
    font-size: 8vw;
    
  }
  
  .stat-value {
    font-size: 32px;
    color: #00e5ff;
  }
  .shared-balance-icon{
    align-items: center;
    width: 90px;
    height: auto;
  }
  .team-header{
    font-size: 8vw;
  }