* {
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  outline: none;
}

body {
  font-family: 'Big Shoulders Display', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #000;
  color: #BCF8FA;
}

.Task{
  text-align: center;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  height: calc(100vh - 18vh); /* Limit height from bottom by 15vh */
  max-height: calc(100vh - 18vh) ;
  overflow-y: auto;
}

.Task::after {
  content: '';
  position: fixed;
  bottom: 16vh; /* Розташування на 15vh від нижньої частини екрана */
  left: 0;
  width: 100%;
  height: 8vh; /* Висота розмиття */
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
  pointer-events: none; /* Забезпечити, щоб елемент не впливав на взаємодію з іншими елементами */
}
.Task::before {
  content: '';
  position: fixed;
  bottom: 12vh; /* Розташування на 2vh вище, ніж нижнє розмиття */
  left: 0;
  width: 100%;
  height: 4vh; /* Висота розмиття */
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0));
  pointer-events: none; /* Забезпечити, щоб елемент не впливав на взаємодію з іншими елементами */
}

.header {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}

.balance-display-task {
  display: flex;
  align-items: center;
}

.coin-icon {
  height: auto;
}

.gold {
  display: flex;
  align-items: center;
  justify-content: center;
}

.open-btn {
  background: transparent;
  border: none;
  height: auto;
  margin-left: -15px;
}

.open-icon {
  height: auto;
}

.nav {
  display: flex;
  justify-content: center;
}

.tab {
  margin: 0 10px;
  padding: 5px 10px;
  border: 2px solid #BCF8FA;
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.5);
  text-shadow: 0 0 10px #BCF8FA, 0 0 20px #0ff;
}

.tab.selected {
  color: gold;
  border-color: gold;
}

.tasks {
  display: grid;
  gap: 20px;
  height: auto;
}

.task-item {
  display: grid;
  align-items: center;
  grid-template-columns: 20vw 45vw auto ;
  padding: 10px 20px;
  border: 4px solid #BCF8FA;
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 20px #0ff;
  text-align: left;
}

.task-icon {
  height: auto;
  grid-row: 1 / span 2;
}

.task-text {
  display: flex;
  margin-left: 20px;
  grid-row: 1;
  grid-column: 2;
}

.task-reward {
  display: flex;
  align-items: center;
  grid-row: 2;
  grid-column: 2;
}

.reward-icon {
  width: 10vw;
  height: auto;
}


.task-item .open-btn {
  grid-column: 4;
  grid-row: 1 / span 2;
  background: transparent;
  border: none;
  width: 20vw;
  height: auto;
}

.task-item.open-icon {
  width: 100%;
  height: auto;
}

  .gold span {
    font-size: 20px;
  }
  .task-icon{
    width: 100%;
  }
  .tasks{
    margin: 5%;
  }

  .gold img{
    width: 8vh;
  }
.balance-display-task img{
  width: 80px !important  ;
}

.balance-display-task span{
  font-size: 14vw !important;
}
.open-btn{
  width: 20%;
}
.open-btn img{
  width: 80%;
}
  .tab {
    font-size: 6vw;
  }

  .task-text {
    font-size: 6vw ;
  }

  .task-reward span {
    font-size: 6vw;
  }
