@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@400;700&display=swap');

* {
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  outline: none;
}
html, body {
  overflow: hidden !important; /* Prevent scrolling */
  height: 100%; /* Ensure full height */
}
body {
  font-family: 'Big Shoulders Display', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #000;
  color: #BCF8FA;
}

.Task{
  text-align: center;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%; /* Limit height from bottom by 18vh */
  max-height: calc(100vh - 18vh);
  overflow-x: hidden !important;
  z-index: 2;
  overflow-y: hidden !important;
}

.Task::after {
  content: '';
  position: fixed;
  bottom: 16vh; /* 16vh from the bottom */
  left: 0;
  width: 100%;
  height: 8vh; /* Height of the blur */
  background: rgba(0, 0, 0, 0.5);
  pointer-events: none; /* Ensure element does not affect interactions */
  z-index: 1; /* Position below content but above background */
}
.Task::before {
  content: '';
  position: fixed;
  bottom: 12vh; /* 12vh from the bottom */
  left: 0;
  width: 100%;
  height: 4vh; /* Height of the blur */
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0));
  pointer-events: none; /* Ensure element does not affect interactions */
  z-index: 1; /* Position below content but above background */
}

.header {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
  z-index: 2;
}

.balance-display-task {
  display: flex;
  align-items: center;
  z-index: 2;
}

.coin-icon {
  height: auto;
}

.gold {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

.open-btn {
  background: transparent;
  border: none;
  height: auto;
  margin-left: -15px;
  z-index: 2;
}

.open-icon {
  height: auto;
}

.nav {
  display: flex;
  justify-content: center;
  z-index: 2;
}

.tab {
  margin: 0 10px;
  padding: 5px 10px;
  border: 2px solid #BCF8FA;
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.5);
  text-shadow: 0 0 10px #BCF8FA, 0 0 20px #0ff;
  z-index: 2;
}

.tab.selected {
  color: gold;
  border-color: gold;
}

.tasks {
  display: grid;
  gap: 20px;
  height: auto;
  z-index: 2;
  overflow-y:scroll;
}

.task-item {
  display: grid;
  align-items: center;
  grid-template-columns: 20vw 45vw auto ;
  padding: 10px 10px;
  border: 4px solid #BCF8FA;
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 20px #0ff;
  text-align: center;
  z-index: 2;
}

.task-icon {
  height: auto;
  grid-row: 1 / span 2;
}

.task-text {
  display: flex;
  margin-left: 20px;
  grid-row: 1;
  grid-column: 2;
}

.task-reward {
  display: flex;
  align-items: center;
  grid-row: 2;
  grid-column: 2;
}
.task-item.completed {
  opacity: 0.5; /* Приклад: змінюємо прозорість для завершених завдань */
  pointer-events: none; /* Відключаємо події для кліків на завершених завданнях */
}

.reward-icon {
  width: 10vw;
  height: auto;
  margin-left: 30px;
}

.task-item .open-btn {
  grid-column: 4;
  grid-row: 1 / span 2;
  background: transparent;
  border: none;
  width: 20vw;
  height: auto;
}

.task-item.open-icon {
  width: 100%;
  height: auto;
}

.gold span {
  font-size: 20px;
}

.task-icon {
  width: 100%;
}

.tasks {
  margin: 5%;
}

.gold img {
  width: 8vh;
}

.balance-display-task img {
  width: 80px !important;
}

.balance-display-task span {
  font-size: 14vw !important;
}

.open-btn {
  width: 20%;
}

.open-btn img {
  width: 80%;
}

.tab {
  font-size: 6vw;
}

.task-text {
  font-size: 6vw;
}

.task-reward span {
  font-size: 6vw;
}

.task-item.leagua {
  grid-template-columns: 15vw 20vw 35vw auto;
  grid-template-rows: 15vw auto;
}

  .task-reward.leagua {
  grid-column: 3 !important;
  grid-row: 1 !important;
  margin-bottom: 20%;
}

.task-item .energy-container {
  grid-column: 2 / span 3;
  grid-row: 2;
}

.task-text.leagua {
  grid-column: 2;
  margin-bottom: 30%;
}

.claim-button {
  grid-column: 4;
  background: none;
  border: 2px solid #BCF8FA;
  border-radius: 10px;
  font-size: 4vw;
  width: 100%;
  height: 40%;
  cursor: pointer;
  z-index: 2;
}
