
* {
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.html{
  overflow-x: hidden !important;
}

.Team {
  position: relative;
  width: 100%;
  height: calc(100vh - 18vh);
  max-height: calc(100vh - 18vh);
  display: grid;
  grid-auto-rows: 48px 10px 120px;
  grid-column: auto;
  gap: 30px;
  text-align: center;
  overflow-y: auto;
  overflow-x: hidden !important;
  z-index: 2; /* Ensure team content is above the overlay */
}

.Team::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2); /* Adjust the opacity for the shadow effect */
  pointer-events: none; /* Ensure the overlay does not interfere with user interactions */
  z-index: 1; /* Ensure the overlay is below the team content but above the background */
}

.lightnings.f-tab {
  z-index: 0 !important; /* Ensure the lightning is below the overlay */
  width: 120%;
  height: 100%;
  margin-left: -25%;
  left: -85%;
}

.Header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  grid-row: 1;
  margin-top: 50px;
  z-index: 2;
}

.Referral {
  align-items: center;
  display: flex;
  z-index: 2;
  font-size: 10vw!important;
}

.referral-count{
  font-size: 10vw !important;
}
.copy-button2{
  width: 80% !important;
}
.ref-text {
  padding-left: 10%;
  display: flex;
  font-size: 10vw !important; /* Використання vw для тексту */
  z-index: 2;
}

.referral-total {
  grid-row: 2;
  font-size: 10vw !important; /* Використання vw для тексту */
  z-index: 2;
}

.Invite-link {
  margin-top: 20px;
  display: grid;
  grid-row: 3;
  grid-template-rows: 20px 20px;
  grid-template-columns: auto auto;
  gap: 20px;
  border-radius: 10px;
  border: 4px solid #BCF8FA;
  background: rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 20px #0ff;
  text-align: left;
  width: calc(100% - 40px);
  margin-left: 20px;
  z-index: 2;
}

.invite-text {
  font-size: 6vw; /* Використання vw для тексту */
  grid-row: 1;
  margin-top: 10px;
  grid-column: 1;
  margin-left: 10px;
  z-index: 2;
}

.invite-url {
  font-size: 4vw; /* Використання vw для тексту */
  color: #15f7ff;
  text-decoration: none;
  grid-row: 2;
  margin-top: 10px;
  grid-column: 1 / span 2;
  margin-left: 10px;
  margin-right: 10px;
  z-index: 2;
}

.coin-icon {
  width: 60% !important;
  height: auto;
}

.copy-button {
  background: none;
  border: 2px solid #BCF8FA;
  border-radius: 10px;
  font-size: 5vw !important; /* Використання vw для тексту */
  grid-row: 1 / span 2;
  width: auto;
  height: 50%;
  color: #BCF8FA;
  cursor: pointer;
  justify-self: end;
  margin-right: 5%;
  grid-column: 2 / span 1;
  align-items: center;
  margin-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  z-index: 2;
}

.copy-button:active {
  background-color: #1976D2;
}

.teams {
  display: grid;
  gap: 20px;
  z-index: 2;
}

.Team-section {
  display: grid;
  gap: 10px;
  z-index: 2;
}

.team-header {
  margin-left: 20px;
  display: flex;
  font-size: 2.5vw; /* Використання vw для тексту */
  z-index: 2;
}

.team-member {
  width: calc(100% - 40px);
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto;
  align-items: center;
  gap: 10px;
  border: 4px solid #BCF8FA;
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.5);
  margin-left: 20px;
  margin-top: 2%;
  box-shadow: 0 0 20px #0ff;
  text-align: left;
  z-index: 2;
}

.stat-inf {
  grid-row: 2;
  display: flex;
  font-size: 1.5vw; /* Використання vw для тексту */
  z-index: 2;
}

.Rank {
  display: flex;
  align-items: center;
  grid-column: 1;
  grid-row: 2;
  margin-left: 10px;
  z-index: 2;
}

.rank-img {
  width: 30%; /* Використання відсотків для розміру зображень */
  height: auto;
  grid-row: 2;
  grid-column: 2;
  z-index: 2;
}

.name {
  font-size: 6vw; /* Використання vw для тексту */
  font-weight: bold;
  margin-left: 5%;
  margin-top: 5%;
  grid-column: 1;
  grid-row: 1;
  z-index: 2;
}

.rank-text {
  font-size: 6vw; /* Використання vw для тексту */
  align-items: center;
  grid-column: 2;
  grid-row: 2;
  z-index: 2;
}

.Point {
  font-size: 6vw; /* Використання vw для тексту */
  grid-row: 2;
  align-items: center;
  display: flex;
  grid-column: 2 / span 3;
  z-index: 2;
}

.bonus {
  grid-row: 1 / span 2;
  grid-column: 3;
  justify-self: end;
  margin-right: 15px;
  font-size: 8vw; /* Використання vw для тексту */
  align-items: center;
  z-index: 2;
}
