/* Синій стиль */
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@400;700&display=swap');

body {
  font-family: 'Big Shoulders Display', sans-serif;
}
 
.blue-style {
  color: #BCF8FA;
  text-shadow:
    0 0 2px #BCF8FA,
    0 0 4px #BCF8FA,
    0 0 8px #395e5f,
    0 0 16px #0ff;
    font-family: 'Big Shoulders Display';
    font-weight: 400; /* Regular */
}

.default-style {
  color: #15f7ff;
  font-family: 'Big Shoulders Display', sans-serif;
  font-weight: 400; 
}

/* Золотий стиль */
.gold-style {
  color: #ffe7be;
  text-shadow:
    0 0 2px #d7c00e,
    0 0 4px #BCF8FA,
    0 0 8px #d6d61c,
    0 0 16px rgb(214, 176, 69),
    0 0 32px #222,
    0 0 36px #222,
    0 0 40px #222,
    0 0 60px #222;
    font-family: 'Big Shoulders Display', sans-serif;
    font-weight: 400; 
}

.plus-one {
  position: absolute;
  transform: translate(-50%, -50%);
  transition: transform 2.5s ease, opacity 2.5s ease;
  pointer-events: none;
  font-size: 2rem;
  opacity: 1;
}

@keyframes fade-out {
  0% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
  30% {
    opacity: 0.8;
    transform: translate(-50%, -60%) scale(1.1);
  }
  50% {
    opacity: 0;
    transform: translate(-50%, -70%) scale(1.2);
  }
}
