/* Синій стиль */
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@400;700&display=swap');

body {
  font-family: 'Big Shoulders Display', sans-serif;
}
 
.blue-style {
  color: #BCF8FA;

  font-family: 'Big Shoulders Display';
  font-weight: 400; /* Regular */
}
.white-style {
    color: #ffffff;

    font-family: 'Big Shoulders Display';
    font-weight: 400; /* Regular */
}
.default-style {
  color: #15f7ff;
  font-family: 'Big Shoulders Display', sans-serif;
  font-weight: 400; 
}

/* Золотий стиль */
.gold-style {
  color: #ffe7be;

  font-family: 'Big Shoulders Display', sans-serif;
  font-weight: 400; 
}
@keyframes neon {
    0%, 100% {
        text-shadow:
                0 0 4px #4DB8FF,
                0 0 10px #4DB8FF,
                0 0 20px #4DB8FF,
                0 0 40px #4DB8FF,
                0 0 80px #4DB8FF,
                0 0 90px #4DB8FF,
                0 0 100px #4DB8FF,
                0 0 150px #4DB8FF;
        opacity: 1;
    }
    50% {
        text-shadow:
                0 0 2px #4DB8FF,
                0 0 5px #4DB8FF,
                0 0 10px #4DB8FF,
                0 0 20px #4DB8FF,
                0 0 40px #4DB8FF,
                0 0 45px #4DB8FF,
                0 0 50px #4DB8FF,
                0 0 75px #4DB8FF;
        opacity: 0.5;
    }
}

.red-style {
    color: #BCF8FA; /* Колір тексту */
    font-family: 'Big Shoulders Display', sans-serif;
    font-weight: 400;
    animation: neon 1.5s infinite alternate; /* Анімація миготіння */
}


.plus-one {
  position: absolute;
  font-size: 8vw;
  font-weight: bold;
  color: #15f7ff;
  z-index: 1000;
  transition: transform 2s, opacity 2s;
}

.blue-style {
  color: #15f7ff;
}

@keyframes dramatic-shake {
  0% { transform: translate3d(0px, 0px, 0px) rotate3d(1, 1, 1, 0deg); }
  10% { transform: translate3d(-3px, 2px, -3px) rotate3d(1, 0, 1, -3deg); }
  20% { transform: translate3d(3px, -2px, 3px) rotate3d(1, 1, 1, 3deg); }
  30% { transform: translate3d(-3px, 2px, -2px) rotate3d(1, 0, 1, -2deg); }
  40% { transform: translate3d(3px, -1px, 2px) rotate3d(1, 1, 1, 2deg); }
  50% { transform: translate3d(-3px, 1px, -1px) rotate3d(1, 0, 1, -1deg); }
  60% { transform: translate3d(3px, -2px, 1px) rotate3d(1, 1, 1, 1deg); }
  70% { transform: translate3d(-3px, 2px, -2px) rotate3d(1, 0, 1, -2deg); }
  80% { transform: translate3d(3px, -1px, 2px) rotate3d(1, 1, 1, 2deg); }
  90% { transform: translate3d(-3px, 1px, -1px) rotate3d(1, 0, 1, -1deg); }
  100% { transform: translate3d(0px, 0px, 0px) rotate3d(1, 1, 1, 0deg); }
}

.dramatic-shake {
  animation: dramatic-shake 0.5s;
  animation-timing-function: ease-in-out;
}