body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    font-weight: 600;
    background-color: #000;
    color: #BCF8FA;
  }
  
  .Task {
    padding: 20px;
    align-items: center;
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .balance-display-task{
    display: flex;
  }
  
  .gold {
    display: flex;
    align-items: center;
  }
  
  .gold-text {
    font-size: 1.5rem;
    color: gold;
    margin-right: 10px;
  }
  
 .open-btn{
    background: transparent;
    border: none;
    width: 20px;
    height: auto;
 }

 .open-icon{
    width: 80px;
    height: auto;
 }

  .nav {
    display: flex;
    justify-content: center;
    margin: 20px 0;
  }
  
  .tab {
    font-size: 3vw;
    margin: 0 10px;
    padding: 10px 20px;
    border: 2px solid #BCF8FA;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.5);
    text-shadow: 0 0 10px #BCF8FA, 0 0 20px #0ff;
  }
  
  .tasks {
    display: grid;
    gap: 20px;
  }
  
  .task-item {
    display: grid;
    align-items: center;
    grid-template-columns: 80px 50vw auto;
    grid-template-rows: auto auto;
    border: 2px solid #BCF8FA;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 20px #0ff;
    width: calc(100%-40px);
    text-align: left;   
  }
  
  .task-icon {
    width: 90px;
    height: auto;
    grid-row: 1 / span 2;
    grid-column: 1;
  }
  
  .task-text {
    font-size: 6vw;
    margin-left: 20px;
    grid-row: 1;
    grid-column: 2;
  }
  
  .task-reward {
    display: flex;
    align-items: center;
    grid-row: 2;
    grid-column: 2;
    color: #ffe7be;
    padding-bottom: 10px;
    text-shadow:
      0 0 5px #d7c00e,
      0 0 10px #BCF8FA,
      0 0 20px #d6d61c,
      0 0 40px rgb(214, 176, 69),
      0 0 80px #222,
      0 0 90px #222,
      0 0 100px #222,
      0 0 150px #222;
  }
  
  .reward-icon {
    width: 30px;
    height: auto;
    margin-right: 10px;
    grid-column: 3 ;
    grid-row: 1 / span 3;
  }
  
  .task-reward span {
    font-size: 1.5rem;
  }
  .container{
        
}
  @media (max-width: 400){

  }
  